/*About*/
.mini{
    color: burlywood;
    

}
.cini{
    font-size: larger;
}
.cini2{
    color: blue;
}
.bunny{
    font-size:large;
}
.bunny1{
    color: cornflowerblue;
}
.bunny2{
    color:brown;
}