{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriMart</title>
    <link rel="stylesheet" href="{% static 'css/powders.css' %}">
</head>
<body class="venky">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <h1 class="header">AgriMart</h1>
    <section>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Agri Mart</a>
                <button class="navbar-toggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="{%url 'fertilizers'%}"><i class="fas fa-dot-circle"></i>fertilizers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{%url 'liquids'%}"><i class="fas fa-dot-circle"></i>liquids</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link  " href="{%url 'powders'%}" role="button"><i class="fas fa-dot-circle"></i>powders
                              
                            </a>
                        </il>
                        <li class="nav-item">
                            <a class="nav-link  " href="{%url 'myprofile'%}" aria-disabled="true"><i class="fa fa-user-circle" aria-hidden="true"></i>myprofile</a>
                        </li>
                    </ul>
                    
                   
                </div>
            </div>
            
        </nav>
        
        <h1 calss="venky1">Description:</h1>
        <p class="venky2">Powders are transported in the atmosphere differently from a coarse granular material. For one thing, tiny particles have little inertia compared to the drag force of the gas that surrounds them, and so they tend to go with the flow instead of traveling in straight lines. For this reason, powders may be an inhalation hazard.</p>

        <div class="padu">

            <div><img src="{% static 'images/48.jpeg' %}"alt="images">
            <p>price:500</p></div><br>

            <div><img src="{% static 'images/49.jpeg' %}"alt="images">
            <p>price:600</p></div><br>

            <div><img src="{% static 'images/50.jpeg' %}"alt="images">
            <p>price:700</p></div> 
            
            <div><img src="{% static 'images/51.jpeg' %}"alt="images">
            <p>price:800</p></div>

            <div><img src="{% static 'images/52.jpeg' %}"alt="images">
            <p>price:1000</p></div>

            <div><img src="{% static 'images/53.jpeg' %}"alt="images">
            <p>price:900</p></div>
        </div>    

        <div class="padu2">

            <div><img src="{% static 'images/54.jpeg' %}"alt="images">
            <p>price:1200</p></div><br>

            <div><img src="{% static 'images/55.jpeg' %}"alt="images">
            <p>price:1300</p></div><br>

            <div><img src="{% static 'images/56.jpeg' %}"alt="images">
            <p>price:1500</p></div>

            <div><img src="{% static 'images/57.jpeg' %}"alt="images">
            <p>price:800</p></div>

            <div><img src="{% static 'images/58.jpeg' %}"alt="images">
            <p>price:900</p></div>

            <div><img src="{% static 'images/52.jpeg' %}"alt="images">
            <p>price:800</p></div>

        </div>  
        <div class="padu3">
            <div><img src="{% static 'images/59.jpeg' %}"alt="images">
            <p>price:1600</p></div>

            <div><img src="{% static 'images/60.jpeg' %}"alt="images">
            <p>price:1700</p></div>

            <div><img src="{% static 'images/61.jpeg' %}"alt="images">
            <p>price:1900</p></div>

            <div><img src="{% static 'images/62.jpeg' %}"alt="images">
            <p>price:500</p></div>

            <div><img src="{% static 'images/51.jpeg' %}"alt="images">
            <p>price:800</p></div>

            <div><img src="{% static 'images/58.jpeg' %}"alt="images">
            <p>price:800</p></div>
        </div>  


      
        
  
    
        
</body>
</html>