{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriMart</title>
    <link rel="stylesheet" href="{% static 'css/Products.css' %}">
</head>
<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <h1 class="header">AgriMart</h1>
    <section>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Agri Mart</a>
                <button class="navbar-toggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="{%url 'fertilizers'%}"><i class="fas fa-dot-circle"></i>fertilizers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{%url 'liquids'%}"><i class="fas fa-dot-circle"></i>liquids</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link  " href="{%url 'powders'%}" role="button"><i class="fas fa-dot-circle"></i>powders
                              
                            </a>
                        </il>
                        <li class="nav-item">
                            <a class="nav-link  " href="{%url 'myprofile'%}" aria-disabled="true"><i class="fa fa-user-circle" aria-hidden="true"></i>myprofile</a>
                        </li>
                    </ul>
                   
                </div>
            </div>
            
        </nav>
        <p>
            <h1 class="balu">Commercial fertilizers</h1>
            <p class="chinni">These are made from synthetically derived materials or are mined, and come in many different formulas depending on the suggested use of each product. 
            There are many N, P, K combinations such as 16-16-16, 5-10-10 or 4-6-6 as examples.
            They come in dry, liquid or slow release forms. 
            Dry or liquid products are fast-acting and easily leached by rains. The slow-release products are not very good for the coast due to the fact that they usually are made to be released at abut 70º; soil temps rarely get that warm there.
            Each package should tell you if the product has any minor nutrients.
            All commercial nutrients are available as single products.
            There are many combinations made for specific uses such as lawn, rhododendron or vegetable "food." Some commercial ingredients are derived from sources that are becoming scarce.
            The package should tell you how much to use by the square footage.</p>
            <h1 class="balu2">Organic fertilizers</h1>
            <p class="chinni1">The word "organic" refers only to things that are derived or harvested from once-living plants or animals.
            The other minerals such as phosphorus, which can come from bone meal, potassium and the minor nutrients, are added and certified for use in organic growing. 
            These frequently are produced in ways that do not damage the earth. They generally have lower N, P, K values than commercial products.
            Dry types are slow acting, however they will feed your plants over a longer period of time.
            All organic products are labeled as such.
             Organic approval comes from the oversight agency OMRI, the Organic Materials Review Institute, which certifies compliance with USDA Organic Standards and Practices. You will see the OMRI emblem on all store-bought products that are organic.</p>
            <h2 class="balu1">Liquid fertilizers</h2>
            <p calss="chinni2">These can be either commercial or organic, and may be high or low in nutrient values. These are very fast acting and will give plants a quick boost.
            They are especially useful when the soil is cold since dry organic products may not break down and become useful to plants until the soil warms. 
            This is the time when liquids become especially valuable.
            Liquids are also best when you are starting seeds or growing seedlings. Liquids are very valuable in midseason when plants need a boost and digging in more dry fertilizer doesn’t work quickly.</p>
            <h2 calss="chinni3">Compost</h2>
            For our purposes compost is organic matter that has been processed to create a useful product to add back to the soil. Nutrient values can vary widely in compost, so you need to have your compost analyzed by a laboratory if you'd like to know the nutrient analysis of your compost.
            You can make your own using kitchen waste or yard debris. Commercially it is made of forest products, peat, coir, woody municipal debris, and possibly poultry and animal manure, or added nutrients.
            If the product is not completely composted it will use available nitrogen (N) in the soil to continue breaking down.
            It is commonly available bagged or in bulk and makes a wonderful addition as a "soil conditioner" or side dressing.
            When it comes to choosing which compost to buy, this is where you get what you pay for; the better the compost, the higher the price is likely to be.
            What fertilizer to use, when to use it and how to use it are questions that you must answer for yourself. The answers depend on the individual plant, its size and stage of growth, the season of the year and whether you see that it needs one particular nutrient or a general purpose product. 
            It will help to know what the major and minor nutrients do for plants. Following is a general description of each.
            
            <h3>Nitrogen</h3> This element promotes rapid green, leafy growth. Too much can cause a plant to grow too fast or not produce the part of the plant that you are growing it for. For example: too much on a tomato may cause the plant to grow lots of green leaves and few flowers, delay fruit set and attract insects such as aphids. The same is true of flowering and ornamental plants.
            <h4>Phosphorou</h4> It stimulates early root growth and hastens blooming. Too much may be lost in the soil and wash into water ways.
            <h4>Potassium</h4> Increases resistance to drought and disease, and quality of seeds.
            <h4>Calcium</h4> Improves root formation and vigor, and helps regulate the uptake of other nutrients. A deficiency combined with insufficient water will result in blossom end rot of tomatoes.
            <h4>Magnesium</h4> Aids in chlorophyll formation and phosphorus metabolism. Regulates the uptake of other nutrients.
            <h4>Sulfur</h4> Imparts dark green color, stimulates seed production and formation of amino acids and vitamins.
            <h4>Micronutrients</h4> These are all necessary in tiny amounts, they work with the other nutrients to provide a balanced diet to all plants.
            Refer to the following links to help you decide what your plants need. Remember that too much of a good thing may be too much! Always read the label of any product and follow the directions. Handle fertilizer products carefully, including compost, use gloves and protect yourself from breathing the dust of dry products.
            
            Fertilizers and Their Use
            Guide to Symptoms of Plant Nutrient Deficiency
            Plant Nutrient Deficiency Symptoms
            </p>
    
        
</body>
</html>